.category-list {
    margin-top: 20px;
    width: 100%;
    overflow-x: auto;
}

.category-sub-list {
    display: inline-flex;
    width: auto;
    margin-right: 10px;
}

.category-list::-webkit-scrollbar {
    display: none;
}

.category-btn {
    background: white;
    border-bottom: 2px solid #ea7c69;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    color: black;
    border-radius: 0;
    margin: 0 10px;
    width: 100%;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.category-btn:hover {
    background: white;
    color: black;
    border-bottom: 2px solid #ea7c69;
}