.cart-card {
    padding: 10px;
    border-radius: 5px;
    background-color: #efefef;
    margin: 10px 0;
}

.item-desc-section {
    width: 100%;
    display: inline-flex;
}

.cart-item-name {
    color: black;
    font-weight: 500;
    /* padding-left: 10px; */
    width: 55%;
    margin-bottom: 2px;
}
.cart-item-name p{
    margin-bottom: 0;
}

.cart-item-qty {
    padding: 5px;
    background: white;
    color: black;
    height: 40px;
    width: 40px;
    font-weight: 600;
    text-align: center;
    border: none;
}

.cart-item-price {
    width: 20%;
    color: #ea7c69;
    font-weight: 800;
    text-align: center;
    font-size: 16px;
    padding: 5px;
}

.remark-section {
    width: 100%;
    margin: 2px 0;
    display: inline-flex;
    justify-content: space-between;
}
.remark-section input{
    width: 90%;
    background: transparent;
    color: white;
    border: 1px solid #8e939a;
    border-radius: 5px;
    padding: 7px;
    margin-right: 10px;
}

.trash-button{
    width: auto;
    height: 40px;
    margin: 0 2% ;
    background: #ea7c69;
    border: 2px solid #ea7c69;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}
.qty-agesment-section{
    width: auto;
    display: inline-flex;
    justify-content: flex-start;
}
.qty-agesment-section button{
    width: auto;
    height: 40px;
    background: #ea7c69;
    border: none;
    /* border: 2px solid #8e939a; */
    border-radius: 5px;
    color: white;
    font-size: 16px;
}