.payment-summery-section {
    display: inline-flex;
    width: 100%;
    color: white;
    font-size: 16px;
    padding: 5px 0;
}

.payment-summery-section-left-item {
    width: 60%;
    text-align: left;
}

.payment-summery-section-right-item {
    width: 40%;
    text-align: right;
}
.balance-input{
    width: 100%;
    text-align: left;
    padding: 5px;
    color: white;
    background-color: #1f1d2b;
    border: 1px solid #ea7c69;
    outline: #1f1d2b;
    border-radius: 5px;
}

.form-select {
    color: white;
    background-color: #1f1d2b;
    border: 1px solid #ea7c69;
    outline: #1f1d2b;
}