.side-component{
    background: transparent;
    padding: 2% 10px;
}
.content-componet{
    width: 65px;
    height: auto;
    top: 15vh;
    padding: 10px;
    position: fixed;
    background: #1f1d2b;
    border-radius: 10px;
}

.sidebar-button{
    width: 100%;
    border: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.sidebar-button:hover{
    background: #ea7c69;
    color: white;
}
.sidebar-button-select{
    background: #ea7c69;
    color: white;
}
.sidebar-button-unselect{
    background: #1f1d2b;
    color: #ea7c69;
}