.dishes-header{
    font-size: 20px;
    font-weight: 600;
    color: black;
    margin: 25px 12px;
}

.dishes-section{
    justify-content: space-around;
    height: 70vh;
    overflow-y: auto;
    margin-left: 0;
    margin-right: 0;
}

.dishes-section::-webkit-scrollbar {
    display: none;
}